 @font-face {
    font-family: activ;
    src: url(./assets/fonts/activ-grotesk400.woff2);
 }
 
 body {
     background-color: darkslategray;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     width: 100vw;
     padding: 40px;
     font-family: activ;
     box-sizing: border-box;
     margin: 0;
     min-height: 650px;
 }

 .wrapper {
     background: #fff;
     width: 100%;
     height: 100%;
     display: flex;
     flex-direction: row-reverse;
     align-items: center;
     justify-content: center;
     border-radius: 20px;
 }

 .drawing-area {
     position: absolute;
     top: 60px;
     left: 122px;
     z-index: 10;
     width: 200px;
     height: 400px;
 }

 .canvas-container {
     width: 200px;
     height: 400px;
     position: relative;
     user-select: none;
 }

 #tie-div {
     width: 452px;
     height: 548px;
     position: relative;
     background-color: #fff;
 }

 #canvas {
     position: absolute;
     width: 200px;
     height: 400px;
     left: 0px;
     top: 0px;
     user-select: none;
     cursor: default;
 }

 #tie-backgroundpicture {
     height: 100%;
     position: absolute;
     top: 0;
     z-index: 3;
 }

 #pattern img{
    height: 40px;
    width: 40px;
 }

 img#tie-pattern {
     height: 100%;
     position: absolute;
     top: 0;
     z-index: 2;
     mix-blend-mode: darken;
     object-fit: fill;
     object-position: center;
 }

 fieldset#pattern {
     border-radius: 10px;
     margin-top: 10px;
     display: flex;
     padding: 12px 0 10px;
 }

 fieldset#pattern>div {
     display: flex;
     margin-left: 12px;
 }

 fieldset#pattern>div>input {
     display: none;
 }

  fieldset#pattern > div > label {
    cursor: pointer;
  }
fieldset#pattern>div>label>img {
    border: 2px solid #00000000;
    border-radius: 6px;
    transition: all 0.3s ease-out;
}
  .patternSelector:checked ~ label img {
    border: 2px solid #1692b8!important;
  }

  button.downloadBtn {
      background: #5f9ea0;
      border: 0;
      padding: 10px 20px;
      border-radius: 4px;
      box-shadow: 2px 2px 2px #0000003d;
      cursor: pointer;
      transition: background 0.3s ease-out;
  }

  button.downloadBtn:hover {
      background: coral;
  }